@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(93, 235, 80);
    #root {
        background-color: royalblue;
        h2 {
            font: {
                size: 30px;
            }
        }
    }

    #game_div {
        text-align: center;
        #test_canvas {
            background-color: white;
        }
    }

    #main {
        background-color: white;
       .box {
            width: 100px;
            height: 200px;
            background-color: rgb(23, 252, 240);
        } 
    }
}